@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap");
:root {
  --primary: #9e9bf2;
  --primary-hover: #6f61c0;
  /* // secondary: "",
  // scondaryHover: "", */
  --light: #f2f2f2;
}
body {
  font-family: "inter", sans-serif;
  background-color: var(--light);
}
